//--------------------------------------
// 			PATRON DE COLORES
//--------------------------------------
$principal:#f79239;
$secundario:#11BB00;
$texto:#44484a;
$claro: white;

$linea1: #F56394;
$linea2: #0265A9;
$linea3: #AE9D27;
$linea4: #6FB6AE;
$linea5: #FDE104;
$linea6: #FF1001;
$linea7: #FF6308;
$linea8: #018748;
$linea9: #5D2B2A;
$lineaA: #A3277D;
$lineaB: #A8A8A8;
$linea12: #B99E51;

/*------------------------------
1. TIPOGRAFIA DEL SITIO
--------------------------------*/
html {
    font-size: 14px;
    font-family: 'Helvetica';
}

body {
    color: $texto;
    
}

/*------------------------------
2. ESTILOS GENERALES
--------------------------------*/
.bg-primary{
    background-color: $principal !important;
}
h3{
    text-align: center;
    text-transform: uppercase;
    color: $secundario;
}
.linea1{
    background-color: $linea1;
}
.linea2{
    background-color: $linea2;
}
.linea3{
    background-color: $linea3;
}
.linea4{
    background-color: $linea4;
}
.linea5{
    background-color: $linea5;
}
.linea6{
    background-color: $linea6;
}
.linea7{
    background-color: $linea7;
}
.linea8{
    background-color: $linea8;
}
.linea9{
    background-color: $linea9;
}
.lineaA{
    background-color: $lineaA;
}
.lineaB{
    background-color: $lineaB;
}
.linea12{
    background-color: $linea12;
}


/*------------------------------
3. INICIO
--------------------------------*/
#inicio{
    .logo img{
        width: 20rem;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: $claro;
        font-size: 1.5rem;
        text-align: center;
    }

     /*Boton del menu */
     .boton-menu:before {
        content: "\f0c9";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $claro;
        font-size: 2.5rem;

        &:focus,
        &:active {
            outline: none;
        }

    }

    .icono-cerrar:before {
        content: "\f00d";
        position: relative;
        left: .2rem;
        font-size: 2.5rem;
    }

    .navbar-nav .nav-item{
        .dropdown-menu{
            background-color: $principal;
    
            .dropdown-item{
                color: $claro;

                &:focus,
                &:hover{
                    color: $principal;
                }
                &:active{
                    background-color: $claro;
                }
            }
        }
    } 

}

/*------------------------------
Y. FOOTER
--------------------------------*/
#footer{
    background-color: $texto;

    h3, li, h5{
        color: $claro;
    }
    h3{
        margin-left: 2.5rem;
        margin-bottom: 1rem;
    }    

    ul li{
        list-style: none;
        a{
            color: $claro;
            text-decoration: none;

            &:hover{
                color: $principal;
            }
        }
    }
}

/* =============================================
. PAGINAS INTERNAS
============================================= */
/*Parque vehicular*/
#parque-vehicular{
    img{
        margin-bottom: 1rem;
    }
    th, td{
        border:1px solid $principal;
    }
    blockquote{
        font-size: .8rem;
    }
}
/*Cronologia*/
#cronologia{
    margin-top: 5rem;

    th, td{
        border:1px solid $principal;
    }

}

/* =============================================
X. Show de las Medias Queries
============================================= */
/* --------------Vista Md ------------- */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    #inicio{
       .navbar-nav .nav-item .dropdown-menu {
            margin-left: -7rem;
        }

        .navbar-dark .navbar-nav .nav-link {
            font-size: 1rem;
        }
    }
}

/* --------------Vista Lg ------------- */
@media (min-width: 992px) {
    #inicio{
        .logo img{
            width: 16rem;
        }
    }
}

/* --------------Vista Xl ------------- */
@media (min-width: 1200px) {
    html {
        font-size: 17px;
    }
    #inicio{
        .logo img{
            width: 14rem;
        }
    }
    
}