//--------------------------------------
// 			PATRON DE COLORES
//--------------------------------------
$principal:#f79239;
$secundario:#11BB00;
$texto:#44484a;
$claro: white;

$linea1: #F56394;
$linea2: #0265A9;
$linea3: #AE9D27;
$linea4: #6FB6AE;
$linea5: #FDE104;
$linea6: #FF1001;
$linea7: #FF6308;
$linea8: #018748;
$linea9: #5D2B2A;
$lineaA: #A3277D;
$lineaB: #A8A8A8;
$linea12: #B99E51;

/*------------------------------
1. TIPOGRAFIA DEL SITIO
--------------------------------*/
html {
    font-size: 14px;
    font-family: 'Helvetica';
}

body {
    color: $texto;

}

/*------------------------------
2. ESTILOS GENERALES
--------------------------------*/
.bg-primary {
    background-color: $principal !important;
}

.btn:focus {
    box-shadow: 0 0 0 0 transparent;
}

.btn-primary {
    background-color: $principal !important;
    border-color: transparent;
    transition: all .5s ease;

    &:focus,
    &.active,
    &:hover {
        background-color: $linea7 !important;
        border-color: transparent;
    }
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $principal !important;
    border-color: transparent;
}

.subtitulo {
    text-align: center;
    text-transform: uppercase;
    color: $secundario;
    margin-top: .5rem;
    font-size: 1.3rem;
}

/*COLORES DE FONDO*/
.linea1 {
    background-color: $linea1 !important;
}

.linea2 {
    background-color: $linea2 !important;
}

.linea3 {
    background-color: $linea3 !important;
}

.linea4 {
    background-color: $linea4 !important;
}

.linea5 {
    background-color: $linea5 !important;
}

.linea6 {
    background-color: $linea6 !important;
}

.linea7 {
    background-color: $linea7 !important;
}

.linea8 {
    background-color: $linea8 !important;
}

.linea9 {
    background-color: $linea9 !important;
}

.lineaA {
    background-color: $lineaA !important;
}

.lineaB {
    background-color: $lineaB !important;
}

.linea12 {
    background-color: $linea12 !important;
}

/*COLORES DE TEXTO*/
.linea-1 {
    color: $linea1 !important;
}

.linea-2 {
    color: $linea2 !important;
}

.linea-3 {
    color: $linea3 !important;
}

.linea-4 {
    color: $linea4 !important;
}

.linea-5 {
    color: $linea5 !important;
}

.linea-6 {
    color: $linea6 !important;
}

.linea-7 {
    color: $linea7 !important;
}

.linea-8 {
    color: $linea8 !important;
}

.linea-9 {
    color: $linea9 !important;
}

.linea-A {
    color: $lineaA !important;
}

.linea-B {
    color: $lineaB !important;
}

.linea-12 {
    color: $linea12 !important;
}

.descripcion {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: currentColor;
    font-size: 1.5rem;
}

/*------------------------------
3. INICIO
--------------------------------*/
#inicio {
    .logo img {
        width: 20rem;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: $claro;
        font-size: 1.5rem;
        text-align: center;
    }

    /*Boton del menu */
    .boton-menu:before {
        content: "\f0c9";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $claro;
        font-size: 2.5rem;

        &:focus,
        &:active {
            outline: none;
        }

    }

    .icono-cerrar:before {
        content: "\f00d";
        position: relative;
        left: .2rem;
        font-size: 2.5rem;
    }

    .navbar-nav .nav-item {
        .dropdown-menu {
            background-color: $principal;

            .dropdown-item {
                color: $claro;

                &:focus,
                &:hover {
                    color: $principal;
                }

                &:active {
                    background-color: $claro;
                }
            }
        }
    }

}

/*------------------------------
Y. FOOTER
--------------------------------*/
#footer {
    background-color: $texto;
    margin-top: 1rem;

    h3,
    li,
    h5 {
        color: $claro;
    }

    h3 {
        margin-left: 2.5rem;
        margin-bottom: 1rem;
    }

    ul li {
        list-style: none;

        a {
            color: $claro;
            text-decoration: none;

            &:hover {
                color: $principal;
            }
        }
    }
}

/* =============================================
 PAGINAS INTERNAS
============================================= */
#menulineas {
    a {
        text-decoration: none;
        color: $claro;
    }

    .linea {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
    }
}

/*------------------------------
Y. LA-RED
--------------------------------*/
.mapa-de-la-red {

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: $claro;
        background-color: $principal;
        border-color: $principal $principal $principal;
    }

    .nav-tabs {
        border-bottom: 1px solid $principal;
    }

    .nav-tabs .nav-link {
        border: 1px solid $principal;
        margin-right: .3rem;
    }

    .nav-link:hover {
        background-color: $principal;
        color: $claro;
    }

    .nav-item a {
        color: $principal;
    }
}

.la-red {
    a {
        text-decoration: none;
        color: $texto;
    }

    .linea-correspondencia {
        color: $claro;
        margin-bottom: .8rem;
        margin-right: .2rem;

        span {
            padding: .35rem;
            font-weight: bolder;
            border-top-right-radius: .5rem;
        }
    }

    .nombre-estacion {
        color: $secundario;
        text-transform: uppercase;
    }

    p {
        margin-bottom: .2rem;
    }

    .logo-estacion {
        width: 7rem;
        margin-top: 1.5rem;
        margin-bottom: .5rem;
    }

    .estacion {
        display: flex;
        justify-content: center;
    }

    .correspondencia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1.5rem;
        margin-right: .25rem;
    }

    figcaption {
        margin-top: .3rem;
        text-align: center;
        font-weight: bolder;
    }

    .info-servicio {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $principal;
        margin-bottom: .4rem;

        &:last-child {
            border-bottom: none;
        }
    }

    .servicios {
        width: 6rem;
        margin-bottom: .5rem;
        margin-right: .5rem;
    }

    .estacion-correspondencia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $principal;
        color: $claro;
        padding: .5rem;
        border-top-right-radius: 3.3rem;
        width: 6rem;
        margin-bottom: .5rem;
        margin-right: .5rem;

        .transbordo {
            font-size: .6rem;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
        }
    }

    /*Tira estaciones*/
    .estaciones {
        position: absolute;
        right: 0;
        top: 80rem;
        z-index: 1;
        display: inline-block;

        ul {
            list-style: none;

            li a {
                display: inline-block;
                padding: .1rem .2rem;
                text-decoration: none;

                img {
                    width: 2rem;

                }
            }
        }

        .tooltipEstacion {
            position: relative;
            text-decoration: none !important;
            text-align: right;
            font-weight: bold !important;
            font-size: .8rem;

            &:hover {
                z-index: 999;

                span {
                    display: block;
                    position: absolute;
                    top: .2rem;
                    right: 2.3rem;
                    width: 8.3rem;
                    padding: .1rem;
                    color: $claro;
                }
            }

            span {
                display: none;
                border-radius: 0;

                &:before {
                    content: '';
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: currentcolor;
                    left: -5%;
                    bottom: 0;
                    right: 0;
                    transform: translateX(-15%) translateY(5%) rotate(45deg);
                }
            }
        }
    }

    .img-movil {
        margin-bottom: .5rem;
    }

    h5 {
        color: $secundario;
    }
}

/*------------------------------
Y. OPERACION
--------------------------------*/
/*Parque vehicular*/
#parque-vehicular {
    .info p {
        line-height: 0;
    }

    .metro {
        position: relative;
        display: block;
        overflow: hidden;
        cursor: pointer;

        .info {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 1rem;
            left: 0;
            overflow: hidden;
            background-color: $principal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all .4s ease;
            z-index: 10;
            padding: .5rem;

            &:hover {
                opacity: .9;
            }

            p {
                position: relative;
                transition: all .3s ease;
                /*Correción para IE11+*/
                width: 100%;
                color: $claro;
            }
        }

        img {
            margin-bottom: 1rem;
            transition: all .3s ease;
        }
    }

    th,
    td {
        border: 1px solid $principal;
    }

    blockquote {
        font-size: .8rem;
    }
}

/*Cronologia*/
#cronologia {
    margin-top: 5rem;

    th,
    td {
        border: 1px solid $principal;
    }

}

/* =============================================
X. Show de las Medias Queries
============================================= */
/* --------------Vista Sm ------------- */
@media (min-width: 576px) {
    .descripcion {

        &::before,
        &::after {
            content: ' ';
            position: absolute;
            width: 5rem;
            height: .2rem;
            background-color: currentcolor;
            top: 0.6em;
        }

        &::before {
            left: 4rem;
        }

        &::after {
            right: 4rem;
        }
    }
}

/* --------------Vista Md ------------- */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    #inicio {
        .navbar-nav .nav-item .dropdown-menu {
            margin-left: -7rem;
        }

        .navbar-dark .navbar-nav .nav-link {
            font-size: 1rem;
        }
    }

    .descripcion {

        &::before,
        &::after {
            width: 2rem;

        }

        &::before {
            left: -0.6rem;
        }

        &::after {
            right: -0.6rem;
        }
    }

    .la-red {

        /*Tira estaciones*/
        .estaciones {
            top: 34rem;
        }

    }
}

/* --------------Vista Lg ------------- */
@media (min-width: 992px) {
    #inicio {
        .logo img {
            width: 16rem;
        }
    }

    .descripcion {

        &::before,
        &::after {
            width: 5rem;

        }

        &::before {
            left: 2.5rem;
        }

        &::after {
            right: 2.5rem;
        }
    }

    .la-red {

        /*Tira estaciones*/
        .estaciones {
            top: 20rem;
        }
    }

    #menulineas {
        .linea {
            font-weight: normal;
            text-transform: capitalize;
        }
        
        .tooltipDireccion span {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a.tooltipDireccion span {
            display: none;
            position: relative;            
            padding: .2rem;
            width: 10rem;

            &:after {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                bottom: 40%;
                left: 50%;
                margin-left: -10px;
                border-width: 10px;
                border-style: outset outset solid;
                border-color: currentColor transparent transparent;
            }
        }
        
        a.tooltipDireccion:hover span {
            display: inline;
            position: absolute;
            border: transparent;           
            font-size: .7rem;
            top: 2.4rem;
            transform: translateX(-50%);
        }
    }
}

/* --------------Vista Xl ------------- */
@media (min-width: 1200px) {
    html {
        font-size: 17px;
    }

    #inicio {
        .logo img {
            width: 14rem;
        }
    }

    .descripcion {

        &::before,
        &::after {
            width: 7rem;

        }

        &::before {
            left: 5.5rem;
        }

        &::after {
            right: 5.5rem;
        }
    }

}