@charset "UTF-8";
/*------------------------------
1. TIPOGRAFIA DEL SITIO
--------------------------------*/
html {
  font-size: 14px;
  font-family: 'Helvetica';
}

body {
  color: #44484a;
}

/*------------------------------
2. ESTILOS GENERALES
--------------------------------*/
.bg-primary {
  background-color: #f79239 !important;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}

.btn-primary {
  background-color: #f79239 !important;
  border-color: transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.btn-primary:focus, .btn-primary.active, .btn-primary:hover {
  background-color: #FF6308 !important;
  border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #f79239 !important;
  border-color: transparent;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  color: #11BB00;
  margin-top: .5rem;
}

.linea1 {
  background-color: #F56394;
}

.linea2 {
  background-color: #0265A9;
}

.linea3 {
  background-color: #AE9D27;
}

.linea4 {
  background-color: #6FB6AE;
}

.linea5 {
  background-color: #FDE104;
}

.linea6 {
  background-color: #FF1001;
}

.linea7 {
  background-color: #FF6308;
}

.linea8 {
  background-color: #018748;
}

.linea9 {
  background-color: #5D2B2A;
}

.lineaA {
  background-color: #A3277D;
}

.lineaB {
  background-color: #A8A8A8;
}

.linea12 {
  background-color: #B99E51;
}

.descripcion {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #f79239;
}

/*------------------------------
3. INICIO
--------------------------------*/
#inicio {
  /*Boton del menu */
}
#inicio .logo img {
  width: 20rem;
}
#inicio .navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
#inicio .boton-menu:before {
  content: "\f0c9";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: white;
  font-size: 2.5rem;
}
#inicio .boton-menu:before:focus, #inicio .boton-menu:before:active {
  outline: none;
}
#inicio .icono-cerrar:before {
  content: "\f00d";
  position: relative;
  left: .2rem;
  font-size: 2.5rem;
}
#inicio .navbar-nav .nav-item .dropdown-menu {
  background-color: #f79239;
}
#inicio .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: white;
}
#inicio .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus, #inicio .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #f79239;
}
#inicio .navbar-nav .nav-item .dropdown-menu .dropdown-item:active {
  background-color: white;
}

/*------------------------------
Y. FOOTER
--------------------------------*/
#footer {
  background-color: #44484a;
  margin-top: 1rem;
}
#footer h3,
#footer li,
#footer h5 {
  color: white;
}
#footer h3 {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}
#footer ul li {
  list-style: none;
}
#footer ul li a {
  color: white;
  text-decoration: none;
}
#footer ul li a:hover {
  color: #f79239;
}

/* =============================================
 PAGINAS INTERNAS
============================================= */
#menulineas a {
  text-decoration: none;
  color: white;
}

/*------------------------------
Y. LA-RED
--------------------------------*/
.mapa-de-la-red .nav-tabs .nav-item.show .nav-link,
.mapa-de-la-red .nav-tabs .nav-link.active {
  color: white;
  background-color: #f79239;
  border-color: #f79239 #f79239 #f79239;
}
.mapa-de-la-red .nav-tabs {
  border-bottom: 1px solid #f79239;
}
.mapa-de-la-red .nav-tabs .nav-link {
  border: 1px solid #f79239;
  margin-right: .3rem;
}
.mapa-de-la-red .nav-link:hover {
  background-color: #f79239;
  color: white;
}
.mapa-de-la-red .nav-item a {
  color: #f79239;
}

.la-red a {
  text-decoration: none;
  color: #44484a;
}
.la-red span {
  color: white;
  border-radius: 1rem;
  padding: .2rem;
}
.la-red h6 {
  color: #11BB00;
  text-transform: uppercase;
}
.la-red p {
  margin-bottom: .2rem;
}
.la-red .logo-estacion {
  width: 7rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}
.la-red .estacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.la-red .correspondencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
  margin-right: .25rem;
}
.la-red .paso {
  border-bottom: 1px solid red;
}
.la-red figcaption {
  margin-top: .3rem;
  text-align: center;
  font-weight: bolder;
}

/*------------------------------
Y. OPERACION
--------------------------------*/
/*Parque vehicular*/
#parque-vehicular .info p {
  line-height: 0;
}
#parque-vehicular .metro {
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
#parque-vehicular .metro .info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1rem;
  left: 0;
  overflow: hidden;
  background-color: #f79239;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  z-index: 10;
  padding: .5rem;
}
#parque-vehicular .metro .info:hover {
  opacity: .9;
}
#parque-vehicular .metro .info p {
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  /*Correción para IE11+*/
  width: 100%;
  color: white;
}
#parque-vehicular .metro img {
  margin-bottom: 1rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#parque-vehicular th,
#parque-vehicular td {
  border: 1px solid #f79239;
}
#parque-vehicular blockquote {
  font-size: .8rem;
}

/*Cronologia*/
#cronologia {
  margin-top: 5rem;
}
#cronologia th,
#cronologia td {
  border: 1px solid #f79239;
}

/* =============================================
X. Show de las Medias Queries
============================================= */
/* --------------Vista Sm ------------- */
@media (min-width: 576px) {
  .descripcion::before, .descripcion::after {
    content: ' ';
    position: absolute;
    width: 5rem;
    height: .2rem;
    background-color: currentcolor;
    top: 0.6em;
  }
  .descripcion::before {
    left: 4rem;
  }
  .descripcion::after {
    right: 4rem;
  }
}
/* --------------Vista Md ------------- */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  #inicio .navbar-nav .nav-item .dropdown-menu {
    margin-left: -7rem;
  }
  #inicio .navbar-dark .navbar-nav .nav-link {
    font-size: 1rem;
  }

  .descripcion::before, .descripcion::after {
    width: 2rem;
  }
  .descripcion::before {
    left: -0.6rem;
  }
  .descripcion::after {
    right: -0.6rem;
  }
}
/* --------------Vista Lg ------------- */
@media (min-width: 992px) {
  #inicio .logo img {
    width: 16rem;
  }

  .descripcion::before, .descripcion::after {
    width: 5rem;
  }
  .descripcion::before {
    left: 2.5rem;
  }
  .descripcion::after {
    right: 2.5rem;
  }
}
/* --------------Vista Xl ------------- */
@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }

  #inicio .logo img {
    width: 14rem;
  }

  .descripcion::before, .descripcion::after {
    width: 7rem;
  }
  .descripcion::before {
    left: 5.5rem;
  }
  .descripcion::after {
    right: 5.5rem;
  }
}
